html, body{
  height: 100%;
}

#root{
  height:100%;
}
.App{
  height:100%;
}

.containerElm{
  border:1px solid red;
  display: block;
  height:100%;
} 

.rowElm{
  height:70%;
}

.userElm{
  border:1px solid #000;
  height:100%;
}

.messagelist{
  border:1px solid #cecece;
  height:100%;
}